@import "../../scss/variables";


.category{
  &__title {
    color: $gray;
  }
  &-inner {
    padding: 7px;
    background-color: $background;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: .4s;

  
    &__img {
      padding: 10px;
      img{
        border-radius: 15px;
      }
    }
    &__text {
      font-size: 40px;
      font-weight: bold;
      color: white;
     
    }
    &__link {
      font-size: 30px;
      font-weight: bold;
      color: white;
      text-align: end;
      text-decoration: none;
      transition: .4s;
      &:hover{
        text-decoration: none;
        color: black;
      }
    }
    &:hover{
      background-color: $main_color;

    }
  }
}