@import "../../scss/variables";
.nav {
  // background-color: #4D6D9A;
  padding: 20px 0;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background: $gray;
    margin: 10px;
  }
  &__logo {
    display: flex;
    align-items: center;

    &-img {
      // width: 100px;
    }
  }
  &__logo-title {
    padding: 5px 15px;
    color: $main_color;
    font-size: 30px;
    text-transform: uppercase;
    transition: $transition;
    font-weight: 700;
    font-family: "Itim", cursive;
    text-decoration: none;

    &::before {
      content: "";
      display: block;
      height: 5px;
      background: $gray;
    }
    &:hover {
      background-color: $gray;
      color: $background;
      text-decoration: none;

      &::before {
        content: "";
        display: block;
        height: 5px;
        background: $background;
      }
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #86B3D1
  }

  &__login {
    display: flex;
    padding: 10px 15px;
    &-title {
      transition: $transition;
      color: $main_color;
      text-decoration: none;
      font-weight: 700;
      margin-left: 20px;
      padding: 10px;
      &::after {
        content: "";
        display: block;
        height: 5px;
        background: $gray;
      }
      &:hover {
        background-color: $gray;
        color: $background;
        transition: $transition;
        text-decoration: none;

        &::after {
          content: "";
          display: block;
          height: 5px;
          background: $background;
        }
      }
      &:hover {
        color: $background;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .play,
  .cabinet {
    display: none;
  }
  .nav {
    // background-color: #4D6D9A;
    padding: 20px 0;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background: $gray;
      margin: 10px;
    }
    &__logo {
      display: flex;
      align-items: center;

      &-img {
        // width: 100px;
      }
    }
    &__logo-title {
      padding: 5px 15px;
      color: $main_color;
      font-size: 15px;

      text-transform: uppercase;
      transition: $transition;
      font-weight: 700;
      font-family: "Itim", cursive;

      &::before {
        content: "";
        display: block;
        height: 5px;
        background: $gray;
      }
      &:hover {
        background-color: $gray;
        color: $background;
        text-decoration: none;

        &::before {
          content: "";
          display: block;
          height: 5px;
          background: $background;
        }
      }
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: #86B3D1
    }

    &__login {
      padding: 5px 10px;
      &::after {
        content: "";
        display: block;
        height: 5px;
        background: $gray;
      }
      &:hover {
        background-color: $gray;
        color: $background;
        transition: $transition;
        text-decoration: none;

        &::after {
          content: "";
          display: block;
          height: 5px;
          background: $background;
        }
      }
      &-title {
        transition: $transition;
        color: $main_color;
        text-decoration: none;
        font-weight: 700;
        font-size: 10px;

        &:hover {
          color: $background;
          transition: $transition;
          text-decoration: none;
        }
      }
    }
  }
}
